{% extends 'mainapp/index.html' %}

{% block title %} Reset password {% endblock %}


{% block style %}
    <style>
    body
        {
        background-color: white;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Password change!</h1>

    </div>
        <div class="container-fluid mt-3">
            <div class="row container-fluid justify-content-center">
                <div class="col-6">
                    <form method="POST">
                         {% csrf_token %}
                         {{ form.as_p }}
                         <button class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}