<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="large-offset-3 large-6 columns">
        <form action="" method="post">
            {% csrf_token %}
            <label for="username">User name</label>
            <input type="text" name="username" id="username"><br><br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password"><br>
            {% if login_error %}
                <label class="error">{{login_error}}</label>
            {% endif %}
        {% if messages %}

{% endif %}
            <br>
            <input class="btn btn-primary btn-lg" type="submit" value="Sign in">
        </form>
    </div>
</body>
</html>