{% extends 'mainapp/index.html' %}
{% block style %}
    <style>
    body
        {
        background-color: #6f42c1;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="container justify-content-center text-white">
            <h3>Please enter your new password twice so we can verify you typed it in correctly</h3>
            <div class="large-offset-3 large-6 columns">
                <form  method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-primary btn-lg" type="submit" value="Confirm">
                </form>
            </div>
    </div>
{% endblock %}